# Custom
argo
loginTrackerServer/db_secrets.py

# Python
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore

# git
.git
.gitattributes
.gitignore