{% extends "app/layout.html" %}

{% block content %}

{% if not user.is_authenticated %}

    <div class="jumbotron">
        <h1>Login Tracker</h1>
        Welcome to the login tracker. 
        This site was designed to help log the locations of it's users via a check in system.
        Please login to see your destinations!
    </div>

{% else %}

    <div class="container"id="map"></div>
    <div class="container">
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in locations %}
                <tr>
                    <td>{{ i.lat }}</td>
                    <td>{{ i.long }}</td>
                    <td>{{ i.logDate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
          function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 0, lng: 0},
              zoom: 4
              });

            {% for i in locations %}
                var marker = new google.maps.Marker({
                    position: {lat: {{ i.lat }}, lng: {{ i.long }}},
                    map: map
                });
            {% endfor %}
          }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi7wttRU5kzt6nNE5iP4TLY4VCtgZ2MiY&callback=initMap" async defer></script>

{% endif %}

{% endblock %}
